In [38]:
import pandas as pd

In [39]:
expenses = pd.read_csv('PycharmProjects\WEB\world skills part 1\expenses.csv')

In [40]:
expenses

              dt         Channel  costs
0     2022-05-01        FaceBoom  113.3
1     2022-05-02        FaceBoom   78.1
2     2022-05-03        FaceBoom   85.8
3     2022-05-04        FaceBoom  136.4
4     2022-05-05        FaceBoom  122.1
...          ...             ...    ...
1795  2022-10-23  lambdaMediaAds    4.0
1796  2022-10-24  lambdaMediaAds    6.4
1797  2022-10-25  lambdaMediaAds    8.8
1798  2022-10-26  lambdaMediaAds    8.8
1799  2022-10-27  lambdaMediaAds   12.0

[1800 rows x 3 columns]

In [41]:
expenses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dt       1800 non-null   object
 1   Channel  1800 non-null   object
 2   costs    1800 non-null   float64
dtypes: float64(1), object(2)
memory usage: 42.3+ KB

In [42]:
expenses['dt'] = pd.to_datetime(expenses['dt'])

In [43]:
expenses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dt       1800 non-null   datetime64[ns]
 1   Channel  1800 non-null   object
 2   costs    1800 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 42.3+ KB

In [44]:
expenses['Channel'].value_counts()

RocketSuperAds        180
FaceBoom              180
LeapBob               180
AdNonSense            180
lambdaMediaAds        180
WahooNetBanner        180
TipTop                180
MediaTornado          180
YRabbit               180
OppleCreativeMedia    180
Name: Channel, dtype: int64

In [45]:
mapping = {}
for i, j in enumerate(set(expenses['Channel'])):
    mapping[j] = i
mapping

{'lambdaMediaAds': 0,
 'FaceBoom': 1,
 'MediaTornado': 2,
 'WahooNetBanner': 3,
 'RocketSuperAds': 4,
 'AdNonSense': 5,
 'YRabbit': 6,
 'LeapBob': 7,
 'OppleCreativeMedia': 8,
 'TipTop': 9}

In [47]:
expenses['Channel'] = expenses['Channel'].map(mapping)

In [49]:
expenses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dt       1800 non-null   datetime64[ns]
 1   Channel  1800 non-null   int64
 2   costs    1800 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 42.3 KB

In [50]:
expenses['Channel'].value_counts()

0    180
1    180
2    180
3    180
4    180
5    180
6    180
7    180
8    180
9    180
Name: Channel, dtype: int64